.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
	background-color:#3d9970;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}
/*[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link {
	background-color: #3d9970;
}*/
.brand-link > .brand-text.active,
.user-panel > .info a.active {
	color: #3d9970;
}
.nav.nav-treeview .nav-item .nav-link {
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-bottom: 5px;
}
.nav-item.nav-item--exit {
	border-top: 1px solid #4f5962;
	border-bottom: 1px solid #4f5962;
}

.nav-item.nav-item--exit .nav-link {
	letter-spacing: .9px;
}
.nav-item.nav-item--exit .nav-link:hover {
	color: #3d9970;
}
.nav-item.nav-item--exit .nav-link i {
	transition: all 0.3s ease-in-out;
}
.nav-item.nav-item--exit .nav-link:hover i {
    transform: scale(1.1) rotate(135deg);
}

.form-control:focus {
	border-color: #6FDCBC;
}
.nav.nav-treeview .nav-item .nav-link  i.fa-circle {
	font-size: 12px;
}
.nav.nav-treeview .nav-item .nav-link.active  i.fa-circle {
	/*font-weight: 600;*/
}
.bg--olive {
	background-color: #3d9970;
}

.contains-img-avatar,
.contains-img-ad,
.contains-img-media {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border: 2px dashed #c3c3c3;
	border-radius: .25rem;

	position: relative;
}
.contains-img-avatar {
	height: 240px;
}
.contains-img-ad {
	height: 120px;
}
.contains-img-media {
	height: 280px;
}
.contains-img-avatar img,
.contains-img-ad img,
.contains-img-media img {
	/*height: inherit;*/
	max-height: 99%;
	max-width: 99%;
    /*max-height: -webkit-fill-available;*/
    /*object-fit: cover;*/
}

.file-decoration {
	width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1)!important;
    /*border: 1px solid rgba(0,0,0,.125)!important;*/
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/* action remove imagen */
.btn--close-ad {
    position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	text-align: right;
	/*background-color: rgba(34, 34, 34,.8);*/
	background-color: #ebecec;
	color: rgba(255, 255, 255,.5);
	padding: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
	border-top-right-radius: .25rem;
}
.btn--close-ad i {
	margin-right: .3rem;
    margin-top: .3rem;
}
.btn--close-ad:hover {
	/*filter: brightness(.5);*/
	background-color: #dc3545;
	color: #fff !important;
}
.btn--close-ad:focus,
.btn--close-ad:active {
	color: #fff !important;
}

.tags-size-img {
	position: absolute;
	background-color: rgba(255,255,255,.9);
	border: 1px solid #c3c3c3;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1)!important;
	padding-left: 10px;
	padding-right: 15px;
	border-radius: .25rem;
	font-weight: 600;
}

/* MODALS */
.modal--radios p span {
	display: block;
	font-size: 15.5px;
}
.modal--radios .card-header img {
	max-height: 100px;
	max-width: 50%;
}
.modal--radios .table thead tr {
	font-size: 15.5px;
	background-color: #FCFCFC;
}
.modal--radios .table tbody tr {
	font-size: 15px;
}
.modal--radios .modal-body button {
	letter-spacing: .75px;
	font-weight: 400;
}
.modal--radios .modal-body .card-body h3 {
	font-size: 1.2rem;
	font-weight: 600;
}