/*
** PAGE ADVERT
*/
.s-advert .card-custom:hover {
    -webkit-box-shadow: 0 9px 20px 0 rgb(165 165 165 / 50%);
    box-shadow: 0 9px 20px 0 rgb(165 165 165 / 50%);
}

.s-advert .card-custom--edit {
    background-color: #343a40;
    border-color: #DFDFDF;
}

.s-advert .col-content {
    padding-top: 15px;
    padding-bottom: 15px;
    /*height: 100vh;*/
}

/*.s-advert .card {
    height: -webkit-fill-available;
    }*/
.card-img-top {
    width: 100%;
    height: calc(100vw * 0.5);
    object-fit: cover;
}

.s-advert .card-footer {
    position: relative;
}

.s-advert .card-footer img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    right: 20px;
}

/*.s-advert .card .card-body::-webkit-scrollbar, .grid .categorias::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #F0F0F0;
    }
    .s-advert .card .card-body::-webkit-scrollbar-thumb, .grid .categorias::-webkit-scrollbar-thumb {
    background: #ef1b1b;
    border-radius: 5px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    }*/

.s-advert .card {
    font-family: sfp-light, sans-serif;
}

.s-advert .card-header {
    padding-bottom: 8px;
    height: 75px;
}

.s-advert .card-header .card-title {
    font-size: 1.2rem;
    line-height: 1.35rem;
    font-family: intro-black, sans-serif;
}
