/*.row {
	border: 1px solid red;
}
[class^='col-'] {
	border: 1px dashed blue;
}*/
/*
** begin:	Only cards - template;
*/

audio {
	background-color: #F1F3F4;
}
.bg-audio-default {
	background-color: #F1F3F4;
}

/* menu movil - color default */
.navigation-portrait .nav-menus-wrapper {
	background-color: #d72924;
}
.nav-menu > li > a, .right-menu li a {
	color: #fff;
}
/*------------------------------*/
.megamenu-panel .item .ts-post-thumb {
	height: 135px;
}
.megamenu-panel .item .ts-post-thumb img {
	/*max-width: 205px;*/
    max-height: 135px;
}
.widgets.post-list-item img.sidebar-img {
	object-fit: contain;
	background-color: #f0f0f0;
}

.ts-grid-box .post-title,
.widgets .post-content
{
	overflow: hidden;
}
.bx-s--card {
	-webkit-box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 8%) !important;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 8%) !important;
}
.bx-s-none {
	box-shadow: none !important;
}
/*
**	end:	Only cards - template;
*/


input[readonly=""] {
	box-shadow: none !important;
}
/*
**
*/
.link-advertise-here {
	width: auto !important;
	text-transform: uppercase;
	font-size: 14px !important;
	font-weight: 700;
	border-left: 0 !important;
	/*padding-right: 15px;*/
}
a[role="button"] {
	cursor: pointer;
}
.border-photo {
	border: 5px solid #fff;
}
.wspace-nrap {
	white-space: nowrap;
}

@media(max-width: 575px) {
	.pl-xs-30 {
		padding-left: 30px;
	}
	.contact-box.ts-grid-box {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/*---Arrcostar a la izquierda todos las etiquetas de titulos de secciones*/
/*.post-cat,
.ts-post-thumb .post-cat,
.ts-grid-box .post-cat {
	margin-left: 0;
}
.ts-grid-box.ts-col-box .post-cat {
    margin-left: -20px;
}*/
/*---Texto enrriquecido---------------------------*/
.rich-text-ad {
	overflow-x: auto;
}
.rich-text-ad::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #F0F0F0;
}
.rich-text-ad::-webkit-scrollbar-thumb {
    background: #ef1b1b;
    border-radius: 5px;
    border-bottom: 2px solid #333;
}
/*-----------------------------------------------*/

/* top header bar: news; */
.ts-breaking-news .breaking-news-content {
    width: 73.5%; /* leanguage - Spanish */

}
.breaking-post-content p {
	white-space: nowrap;
	overflow: hidden;
}
#breaking_slider .owl-nav {
    padding-left: 5px;
    background-color: #fff;
}
	/* banner (horizontal) home */
.img-banner-ad {
	max-height: 120px;
}

/*
** PAGES/TOP/HEADER/INC/MENU
*/
#wrapper-search {
	display: none;
}

#btn-open-search:hover {
	background-color: #d72924;;
}

#list-search > .megamenu-panel
{
	/* top: 60px; */
	right: 0;
	background-color: #F0F0F0;
	/* padding-top: 5px */
	padding-top: 0;
}

#list-search .list-group-item:first-child {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#list-search .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#list-search .list-group-item a {
	color: #333;
}
#list-search .list-group-item a:hover {
	color: #d72924;
}

#list-search input {
	box-shadow: none;
}

/* Logo header */
.header-default .logo {
	display: flex;
    justify-content: center;
    align-items: center;
}
/*.header-default .logo > a,*/
.header-default .logo > a img {
	max-height: 115px;
}
.top-bar .ts-subscribe {
	padding: 0 15px !important;
}
.top-bar .ts-subscribe a {
	padding: 4px 15px;
}
.top-bar .ts-subscribe a:hover {
	background: #222 !important;
}

.btn--link-menu {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}
.btn--link-menu:hover {
	background-color: transparent;
	color: rgba(255, 255, 255, .75);
}

/*
** AD POP-UP:
*/
.box-toast-ad {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 20;
}
.box-toast-ad .card .card-img-top {
	object-fit: cover;
}
@media (min-width: 576px) and (max-width: 767px){
	.box-toast-ad .card .card-img-top {
    	height: calc( (100vw/2) * 0.5625 );
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.box-toast-ad .card .card-img-top {
    	height: calc( (100vw/3) * 0.5625 );
	}
}
@media (min-width: 992px){
	.box-toast-ad .card .card-img-top {
    	height: calc( (100vw/4) * 0.5625 );
	}
}
.box-toast-ad .card .card-body h3 {
    line-height: 1.2rem;
    font-size: 1.2rem;
}
.box-toast-ad .card .card-footer li,
    .s-advert .card .card-footer li,
.float-ad .box-data .card-footer li,
.float-ad .box-data .card-body li { /*:not( li:first-child )*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 5px;
	margin-right: 5px;
	transition: border-color 300ms ease;
}
	/*.float-ad .box-data .card-body li:first-child {
		padding-left: 0;
	}*/
.box-toast-ad .card .card-img-top {
	max-height: 27.5vh;
}
@media (max-width:575px) {
	.float-ad .box-data .card-footer .contact-info-box:last-child .contact-info-box-content {
		display: flex;
		align-items: center;
	}
	.box-toast-ad > .toast {
		max-width: 100%;
	}
	.box-toast-ad .card .card-body h3 {
	    line-height: 1rem;
	    font-size: 1rem;
	    font-weight: 500;
	}
}
@media (min-width:1200px) {
	.float-ad .box-data .card-footer .contact-info-box:last-child .contact-info-box-content {
		display: flex;
		align-items: center;
	}
}
.box-toast-ad .card .card-footer li:hover,
    .s-advert .card .card-footer li:hover,
.float-ad .box-data .card-footer li:hover,
  .float-ad .box-data .card-body li:hover { /*:not( li:first-child )*/
	/*border-color: #dee2e6;*/
	/*background-color: #dee2e6;*/
	transform: scale(1.15);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.box-toast-ad .card .card-footer li:nth-child(1) i,
.box-toast-ad .card .card-footer li:nth-child(3) i,
    .s-advert .card .card-footer li:nth-child(1) i,
    .s-advert .card .card-footer li:nth-child(3) i,
    .float-ad .box-data .card-footer li:nth-child(1) i,
    .float-ad .box-data .card-footer li:nth-child(3) i,
    .float-ad .box-data .card-footer li:nth-child(4) i,
    .float-ad .box-data .card-footer li:nth-child(5) i,
    .float-ad .box-data .card-footer li:nth-child(6) i,
    .float-ad .box-data .card-body li i {
	color: #ef1b1b;
}
.box-toast-ad .card .card-footer li:nth-child(2) i,
    .s-advert .card .card-footer li:nth-child(2) i,
.float-ad .box-data .card-footer li:nth-child(2) i {
	border-radius: 50%;
	background-color: #2EB944;
	color: #fff;
	transform: scale(1.4);
}
.box-toast-ad .card .card-footer img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    position: absolute;
    right: 20px;
}
.s-advert .card .card-footer img {
	width: 3.8rem;
    height: 3.8rem;
    object-fit: cover;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    position: absolute;
    right: 20px;
}

/*
** AD FLOAT
*/
.box-resource #gallery,
.box-resource .embed-responsive,
.box-resource .content-audio {
	display: table-cell;
	vertical-align: middle;
}
.bg-deep-dark {
	background-color: #000;
}
.element-hidden {
	display: none !important;
}
/*.btn--full-ad {
	top: 0;
	right: 0;
	margin-top: 1rem;
	margin-right: 1rem;
}*/
.btn--close-ad {
    position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	text-align: left;
	background-color: rgba(34, 34, 34,.8);
	color: rgba(255, 255, 255,.5);
	padding: 0;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}
.btn--close-ad i {
	margin-left: .4rem;
    margin-top: .33rem;
}
/*.btn--full-ad,*/
.btn--prev-ad,
.btn--next-ad {
	position: absolute;
	width: 36px;
	height: 36px;
	/*border-radius: 50%;*/
	background-color: rgba(34, 34, 34,.2);
	color: rgba(255,255,255,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.btn--prev-ad {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	margin-left: .5rem;
}
.btn--next-ad {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	margin-right: .5rem;
}
.btn--close-ad:hover,
/*.btn--full-ad:hover,*/
.btn--prev-ad:hover,
.btn--next-ad:hover {
	/*filter: brightness(.5);*/
	background-color: #111111;
	color: #fff;
}
.btn--close-ad:focus,
.btn--close-ad:active {
	color: #ef1b1b !important;
}
/*.btn--full-ad:focus,*/
.btn--prev-ad:focus,
.btn--next-ad:focus,
/*.btn--full-ad:active,*/
.btn--prev-ad:active,
.btn--next-ad:active {
	color: #000 !important;
}
.float-ad {
	height: 100vh;
	background-color: rgba(0, 0, 0, .75);
}
.float-ad .wrapper {
	height: 100vh;
	width: 100vw;
	background-color: #f0f0f0;
}
.float-ad .wrapper .box-data::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #F0F0F0;
}
.float-ad .wrapper .box-data::-webkit-scrollbar-thumb {
    background: #ef1b1b;
    border-radius: 5px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
}
.float-ad .wrapper .box-resource {
	display: table;
	height: 40%;
	overflow: hidden;
}
.float-ad .wrapper .box-data {
	height: 60%;
	overflow-y: auto;
	overflow-x: hidden;
}
.float-ad button:first-child {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: .5rem;
}
.float-ad .ts-grid-box img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.float-ad .box-data .card-header .post-title {
	font-size: 18px;
	line-height: 18px;
}
.float-ad .box-data .card-footer .ts-title {
	font-size: 16px;
    font-weight: 700;
    color: #e91e63;
}
.float-ad .box-data .card-footer h4
/*.float-ad .box-data .card-footer p*/ {
	font-weight: 500;
	color: #6c757d!important;
}

@media(min-width:576px){
	.btn--prev-ad,
	.btn--next-ad {
		background-color: rgba(34, 34, 34,.8);
	}
	.float-ad .wrapper {
		width: calc(100vw - 2.5rem);
	}
	.float-ad .wrapper .box-resource,
	.float-ad .wrapper .box-data {
		height: 100%;
	}
	.float-ad .wrapper {
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
	}
}

/* Search */
.row-search-form .form-row {
	transition: box-shadow .15s ease-in-out;
}
.row-search-form .form-row:hover {
	box-shadow: 0 0 0 .2rem rgba(215, 41, 36,.25);
}
.row-search-form .form-row:hover button {
	background-color: #d72924;
}
.row-search-form input {
	height: 60px;
	border: 0;
	border-radius: 0;
}
.row-search-form input:focus {
	box-shadow: none;
}
.row-search-form button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 0;
	background-color: #d72924;
}
.row-search-form button:hover {
	background-color: #c2211c;
}
.row-search-form button:hover i {
	color: #fff;
}
.col-search-form {
	padding-left: 5px;
	padding-right: 5px;
}
.box-response {
	width: calc(100% - 74px);
	height: auto;
	top: 60px;
	left: 0;
	margin-top: 5px;
	z-index: 10;
	background-color: #fff;
	transition: opacity .15s ease-in-out;
}
.box-response ul li a {
	color: #495057;
}
.box-response ul li a:hover {
	color: #d72924;
}
/* end search */

/*
** SECTION CATEGORIES:
*/
	.mxh-cat-img {
		max-height: calc( 100vw * 0.5 );
		width: auto !important;
		object-fit: cover;
	}
	@media( min-width:576px ) and ( max-width:767px ) {
		.mxh-cat-img {
			max-height: calc( (100vw/2) * 0.5 )
		}
	}
	@media( min-width:768px ) and ( max-width:991px ) {
		.mxh-cat-img {
			max-height: calc( (100vw/3) * 0.5 )
		}
	}
	@media( min-width:991px ) and ( max-width:1200px ) {
		.mxh-cat-img {
			max-height: calc( (100vw/4) * 0.5 )
		}
	}
	@media( min-width:1200px ) {
		.mxh-cat-img {
			max-height: calc( (100vw/4) * 0.5 )
		}
	}
	/*.h-category-cols {
		height: calc( 100vw * 0.5625 )
	}
	@media( min-width:576px ) and ( max-width:767px ) {
		.h-category-cols {
			height: calc( (100vw/2) * 0.5625 )
		}
	}
	@media( min-width:768px ) and ( max-width:991px ) {
		.h-category-cols {
			height: calc( (100vw/3) * 0.5625 )
		}
	}
	@media( min-width:991px ) and ( max-width:1200px ) {
		.h-category-cols {
			height: calc( (100vw/4) * 0.5625 )
		}
	}
	@media( min-width:1200px ) {
		.h-category-cols {
			height: calc( (100vw/4) * 0.5625 )
		}
	}
	.h-category-cols img {
		height: min-content;
    	object-fit: cover;
	}
		.bl-title {
			font-size: 20px;font-weight:500;border-left:3px solid #000;padding-left:25px;
		}
	.h-category-cols.overflow-auto::-webkit-scrollbar {
	    width: 7px;
	    background: #F0F0F0;
	}
	.h-category-cols.overflow-auto::-webkit-scrollbar-thumb {
	    background: #CECECE;
	    border-radius: 5px;
	    border-left: 2px solid #333;
	}*/

/*
** WIDGTS: w-categories
*/
.category-list-item ul {
	max-height: 220px; /* 44px * item */
	overflow-y: auto;
}
.category-list-item ul::-webkit-scrollbar {
    width: 7px;
    background: #F0F0F0;
}
.category-list-item ul::-webkit-scrollbar-thumb {
    background: #CECECE;
    border-radius: 5px;
    border-right: 2px solid #ff6e0d;
}

/* Contentainer file - iamges */
.contains-img-payments {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border: 2px dashed #c3c3c3;
	border-radius: .25rem;
	height: 200px;
}
.contains-img-payments img {
	max-width: 99%;
	max-height: 99%;
}

/* container carrusel videos - home */
.video-slider {
	height: 350px;
}
.uk-panel {
	height: 100%;
	border-right: 1px solid rgba(0,0,0,.7);
}
.uk-panel > .post-video {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	min-height: 350px;
}
.uk-panel > .post-video img {
	width: auto;
	object-fit: contain;
}
.uk-panel .post-video-content .post-date-info {
	color:	rgba(255,255,255,.7);
}
@media(min-width:991px){
	.video-slider {
		height: 500px;
	}
	.uk-panel > .post-video {
		min-height: 500px;
	}
}

/* panel de usuario */
.list-menu--selected {
	border: 0;
	margin-left: -16px;
	margin-right: -16px
}
.list-menu--selected ul a li {
	border: 0;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-bottom: 4px;
	transition: color 0ms;
	transition: background-color 100ms ease;
}
.list-menu--selected ul a li:hover,
.list-menu--selected a li.active {
	background-color: #d72924;
	color: #fff;
}

/* MODALS */
.modal--radios p span {
	display: block;
	font-size: 15.5px;
}
.modal--radios .card-header img {
	max-height: 100px;
	max-width: 50%;
}
.modal--radios .table thead tr {
	font-size: 15.5px;
	background-color: #FCFCFC;
}
.modal--radios .table tbody tr {
	font-size: 15px;
}
.modal--radios .modal-body button {
	letter-spacing: .75px;
	font-weight: 400;
}
.modal--radios .modal-body .card-body h3 {
	font-size: 18px;
}

.nav-menu > li.active > a,
.right-menu.align-to-right > li a {
	padding-left: 15px;
	padding-right: 15px;
}
/* MENU MOVIL */
.nav-header--movil {

}
	.nav-header--movil .mobile-logo {
		position: absolute;
		height: 60px;
	}
		.nav-header--movil .mobile-logo img {
			height: inherit;
			padding-top: 7.5px;
			padding-bottom: 7.5px;
		}
	.nav-header--movil .top-social {
		position: absolute;
		right: 60px;
	    top: 15px;
	}
		.nav-header--movil .top-social .ts-subscribe {
			background-color: #000;
			margin-left: 0;
			padding-left: 5px;
			padding-right: 5px;
			line-height: 30px;
			font-weight: 400;
		}
.nav-header--movil .nav-toggle:before { /* btn menu */
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}
.nav-header--movil+.nav-menus-wrapper .nav-menus-wrapper-close-button { /* btn close */
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: all 0.7s ease-in-out;
}
.nav-header--movil+.nav-menus-wrapper .nav-menus-wrapper-close-button:hover {
	background-color: #d72924;
	transform: scale(1.2) rotate(360deg);
}
.list-icon--social {
	display: flex;
	/*justify-content: center;*/
}
	.list-icon--social li {
		transition: background 0.4s ease;
    	-webkit-transition: background 0.4s ease;
	}
	.list-icon--social li:hover {
		background-color: #d72924;
	}
	.list-icon--social li a {
		width: 35px;
		border-left: 0;
	}
	@media(max-width:991px)
	{
		.navigation.ts-main-menu {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
		}
		.list-icon--action li {
			transition: background 0.4s ease;
    		-webkit-transition: background 0.4s ease;
		}
		.list-icon--action li:hover {
			background-color: #d72924;
		}
		.list-icon--action li a {
			width: 45px;
		}
		.list-icon--action li:nth-child(2) a {
			border-left: 0;
		}
		/* enlaces de secciones */
		.nav-menu > li.focus > a {
	    	color: #000 !important;
		}
		/*body section.block-wrapper,
		body section.single-post-wrapper {
			margin-top: 60px;
		}*/
		.span-menu {
			height: 60px;
		}
		.mt-30-to-lg {
			margin-top: 30px;
		}
	}
	@media(min-width:992px)
	{
		.nav-header--movil+.nav-menus-wrapper .nav-menus-wrapper-close-button {
			display: none;
		}
	}
/* / MENU MOVIL */

/***                ***/
/*** NEW COLOR LIST ***/
/***                ***/

/*Text color --*/
.dark-color {
	color: #333333 !important;
}
.teal-dark-color {
	color: #02475e !important;
}
.purple-wine-color {
	color: #7b113a !important;
}
.purple-light-color {
	color: #8b5e83 !important;
}
.fuchsia-color {
	color: #f21170 !important;
}
.maroon-color {
	color: #800000 !important;
}
.red-color {
	color: #ff0000 !important;
}
.orange-red-color {
	color: #FF4500 !important;
}
.orange-color {
	color: #ffa500 !important;
}
.olive-color {
	color: #808000 !important;
}
.dark-green-color {
	color: #006400
}
.gray-color {
	color: #808080 !important;
}
.rosy-brown-color {
	color: #BC8F8F !important;
}

/*---- Background color --*/
.ts-dark-bg {
	background: #333333 !important;
}
.ts-teal-bg {
	background: #008080 !important;
}
.ts-teal-dark-bg {
	background: #02475e !important;
}
.ts-purple-wine-bg {
	background: #7b113a !important;
}
.ts-maroon-bg {
	background: #800000 !important;
}
.ts-fuchsia-bg {
	background: #f21170 !important;
}
.ts-crimson-bg{
	background: #ed143d !important;
}
.ts-red-bg {
	background: #ff0000 !important;
}
.ts-olive-bg {
	background: #808000 !important;
}
.ts-dark-green-bg {
	background: #006400 !important;
}
